.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}
.pagination button {
  width: 40px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: transparent;
  color: brown;
  border-color: brown;
}
.pagination button:hover {
  font-weight: 900;
  border-color: #101010;
  background: #ffe400;
  color: #101010;
}
.data {
  display: grid;
  grid-template-columns: 900px 1000px;
  padding: 20px;
  gap: 10px;
}
.card {
  grid-template-rows: 2;
  grid-template-columns: 3;
  padding: 30px;
  width: 280px;
  height: 600px;
}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.paginations {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginations button {
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.paginations button.active {
  background-color: #4caf50;
  color: white;
  border-color: #4caf50;
}

.paginations button:hover {
  background-color: #ddd;
}

.paginations button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.paginations span {
  padding: 8px 16px;
  margin: 0 5px;
  color: #333;
  font-size: 14px;
}
